<div class="toolbar" role="banner">
  <img
    width="120"
    alt="Logo"
    src="assets/img/logo.png"
  />
  <span>Welcome</span>
    <div class="spacer"></div>
</div>

<div class="content" role="main">
  <form [formGroup]="textForm">
    <div class="form-group row">
      <div>
          <mat-form-field floatLabel="always">
            <mat-label>Text</mat-label>
            <input matInput placeholder="Insert a text" formControlName="text">
            <mat-error *ngIf="textForm.controls['text'].hasError('required')">
                Text should not be empty
            </mat-error>
            <mat-error *ngIf="textForm.controls['text'].hasError('pattern')">
                Alphabets only
            </mat-error>
          </mat-form-field>
      </div>
    </div>
    <div class="button-row">
      <button mat-flat-button color="primary" (click)="submit(0)">
        Submit
      </button>
    </div>
    <div class="button-row">
      <button mat-stroked-button color="primary" (click)="submit(1)">
        Convert to UPPERCASE
      </button>
      <button mat-stroked-button color="accent" (click)="submit(2)">
        Convert to alternate upper and lower case
      </button>
      <button mat-stroked-button color="warn" (click)="submit(3)">
        Create CSV file
      </button>
    </div>
  </form>
  

  <!-- Footer -->
  <footer>
      <small>Copyright &copy; 2021, Joyce Hum. All Rights Reserved.</small>
  </footer>

</div>
<router-outlet></router-outlet>