.snack-bar-container {
    display: flex;
    .check-icon {
        width: 1em;
        height: 1em;
        font-size: 2.813em;
        margin-right: 0.6779em;
    }
    .message-container {
        .title {
            font-size: 1.5em;
            font-weight: bold;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: normal;
            color: rgba(255, 255, 255, 0.87);
        }
        .content {
            font-size: 1.15em;
            font-weight: 600;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: normal;
            color: rgba(255, 255, 255, 0.87);
        }
    }
}

.close-button {
    position: absolute;
    right: 1.5em;
    top: .5em;
    background: transparent;
    border: 0;
    box-shadow: none;
    color: #fff;
    cursor: pointer;
    font-size: 25px;
}